.upload-box {
    border: 2px dashed #6c63ff;
    border-radius: 12px;
    text-align: center;
    padding: 30px;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
    cursor: pointer;
}

.upload-box:hover {
    background-color: #eef0ff;
    border-color: #4e44e8;
}

.upload-box i {
    font-size: 40px;
    color: #6c63ff;
    margin-bottom: 10px;
}

.upload-box p {
    margin: 0;
    font-size: 15px;
    color: #555;
}

.upload-box input[type="file"] {
    display: none;
}

.profile-img {
  width: 80px;       
  height: 80px;    
  object-fit: cover; 
  border-radius: 50%; 
  border: 2px solid #007bff; 
}
